@import 'variables';
@import 'general';

/* Header
===================*/
.header {
    transition: background-color .3s linear;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
    }

    &__link {
        margin-right: 2rem;
        font-size: 1.2rem;
        transition: color .3s linear;
        font-weight: 500;

        &:hover {
            color: $secondary;
        }
    }

    @media(max-width: $tablet) {
        display: none;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3000;
        background-color: $accent;
        padding: 0.5rem 0;
        box-shadow: $shadow;
    }
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3000;

    &:focus {
        outline: none;
    }

    @media (max-width: $tablet) {
        display: flex;
    }

    &__open .burger__line {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $dark;
        transition: background-color .3s linear;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            transform: translateY(.73rem);
            background-color: $dark;
            transition: transform .3s linear;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            transform: translateY(-.73rem);
            background-color: $dark;
            transition: transform .3s linear;
        }
    }
}

.mini-nav {
    width: 100%;
    background-color: $accent;
    padding: 1.5rem 0;
    box-shadow: $shadow;
    z-index: 2001;
    display: none;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3000;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: $tablet) {
        display: block;
    }
}

.mini-header {
    min-height: 100vh;
    max-width: 400px;
    width: 100%;
    background-color: $accent;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2002;
    box-shadow: $shadow;
    padding: 4rem 2rem 2rem 2rem;
    transition: left .3s ease-in-out;
    box-sizing: border-box;

    @media (max-width: $mobile-sm) {
        max-width: 100vw;
    }

    &__container {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;

    }

    &__logo {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__icon {
        flex-basis: 20%;
    }

    &__link {
        flex-basis: 80%;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
    }

    &.active {
        left: 0;
    }
}

.phone {
    &__row {
        display: flex;
        margin-bottom: .3rem;
    }

    &__number {
        font-family: $openSans;
        font-size: 1.1rem;
        margin-right: 0.4rem;
    }

    &__city {
        font-family: $openSans;
        font-size: 1.1rem;
        font-weight: 700;
    }
}

.header-right {
    display: flex;
}

.lang {
    display: flex;

    &__item {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $dark;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;

        &.active {
            background-color: $secondary;
            color: $white;
        }
    }
}

.cart {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    z-index: 3000;

    span {
        font-family: $openSans;
        font-size: 1.2rem;
        margin-left: 0.3rem;
    }
}

/* Hero
===================*/
.hero {
    max-width: 100vw;
    padding: 2rem 0;

    @media (max-width: $tablet) {
        padding: 0 0 2rem;
    }

    &__h1 {
        font-size: 5.4rem;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        position: relative;
        margin: 2rem 0;

        @media (max-width: $tablet) {
            font-size: 4rem;
        }

        @media (max-width: 470px) {
            font-size: 3.2rem;
        }

        &::after {
            content: '';
            display: block;
            width: 140px;
            height: 2px;
            background-color: $secondary;
            position: absolute;
            bottom: -1rem;
            left: 0;
            right: 0;
            margin: 0 auto;

            @media (max-width: 470px) {
                width: 100px;
            }
        }


    }

    &__h3 {
        font-size: 3.6rem;
        font-weight: 600;
        text-align: center;
        color: $accent;
        margin: 2rem 0 1rem;

        @media (max-width: $tablet) {
            font-size: 3rem;
        }

        @media (max-width: 470px) {
            font-size: 2.6rem;
        }
    }

    &__h5 {
        font-size: 2.1rem;
        font-style: italic;
        font-weight: 300;
        text-align: center;

        @media (max-width: $tablet) {
            font-size: 1.8rem;
        }

        @media (max-width: 470px) {
            font-size: 1.6rem;
        }
    }

    &__slider {
        width: 100%;
        margin-top: 1rem;
    }

    &__slide {
        position: relative;
        max-height: 580px;


        &:focus {
            outline: none;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.slick-prev2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    z-index: 999;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:focus {
        outline: none;
    }

    img {
        width: 66px;
        height: 66px;
    }
}

.slick-next2 {
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translate(50%, -50%);
    z-index: 999;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:focus {
        outline: none;
    }

    img {
        width: 66px;
        height: 66px;
    }
}

/* Yarn
===================*/
.yarn {
    padding: 1rem 0 2rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0 4rem;

        @media (max-width: $tablet) {
            justify-content: center;
        }
    }
}

.card {
    width: 23%;
    margin-right: 2rem;
    margin-bottom: 2rem;

    @media (max-width: $laptop) {
        width: 31%;
    }

    @media (max-width: $tablet) {
        width: 45%;
    }

    @media (max-width: $mobile-sm) {
        width: 98%;
        margin-right: 0;
    }

    &__img {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $light;
        padding-bottom: 0.5rem;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__main-image {
        display: flex;
        justify-content: center;
        padding-bottom: 0.5rem;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &:focus {
            outline: none;
        }
    }

    &__thumbnails {
        display: flex;
        justify-content: space-between;
        max-width: 220px;
        margin: 1rem auto;
        position: relative;

        @media (max-width: $mobile-sm) {
            max-width: 300px;
        }
    }

    &__thumbnail {
        max-width: 68px;
        cursor: pointer;

        @media (max-width: $mobile-sm) {
            max-width: 145px;
        }

        img {
            width: 100%;
            display: block;
            height: auto;
        }

        &:focus {
            outline: none;
        }
    }

    &__divider {
        text-align: center;
    }

    &__h3 {
        font-weight: 600;
        font-size: 2.2rem;
        text-align: center;
        margin-top: 0.7rem;
    }

    &__desc {
        font-size: 1.2rem;
        text-align: center;
        font-family: $openSans;
        margin: 0.7rem 0;
    }

    &__price {
        font-family: $openSans;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
}

.counter {
    max-width: 120px;
    background-color: $white;
    box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 1.5rem;
    margin: 1rem auto;

    &__circle {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-color: $light;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__number {
        font-family: $openSans;
        font-size: 1.8rem;
        font-weight: 500;
        color: $dark;
    }

    &__price {
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem 0 1.5rem;

        span {
            font-weight: 700;
            font-family: $openSans;
            text-transform: uppercase;
        }
    }
}

/* Banners
===================*/
.banners {
    margin: 2rem 0;

    &__banner {
        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &:focus {
            outline: none;
        }
    }
}

/* Accessories
===================*/
.accessories {
    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0 4rem;
    }
}

/* Magazines
===================*/
.magazines {
    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0 4rem;
        justify-content: center;
    }

    .card__img {
        border-bottom: none;
    }
}

/* About us
===================*/
.about {
    &__text {
        max-width: 800px;
        margin: 2rem auto;
        width: 100%;
        line-height: 1.7;
        font-size: 1.2rem;
        text-align: center;
    }

    .center {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

/* Contact
===================*/
.contact {
    padding: 2rem;
    box-sizing: border-box;

    &__container {
        padding: 2rem 0;
    }

    &__content {
        max-width: 840px;
        width: 100%;
        margin: 0 auto;
        box-shadow: $shadow;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;

        @media(max-width:870px) {
            justify-content: center;
        }
    }

    &__h5 {
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }

    &__text {
        max-width: 255px;
        font-size: 1.2rem;
        line-height: 1.4;
        margin: 1.5rem auto;
        text-align: center;
    }
}

.contact-left {
    flex-basis: 55%;
    padding: 2rem;

    @media(max-width:870px) {
        flex-basis: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__h3 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-right: 3rem;

        @media (max-width: 340px) {
            font-size: 1.2rem;
        }
    }

    &__form {}

    &__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width:$mobile-sm) {
            justify-content: center;
        }
    }

    &__left {
        flex-basis: 45%;

        @media(max-width:$mobile-sm) {
            flex-basis: 95%;
        }
    }

    &__right {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media(max-width:$mobile-sm) {
            flex-basis: 95%;
        }

        textarea {
            resize: none;
            box-sizing: border-box;
        }
    }

}

.input-text {
    width: 100%;
    border: none;
    border-bottom: 1px solid $light;
    font-family: $raleway;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 0;
    margin: 2rem 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.contact-right {
    flex-basis: 35%;
    background-color: $accent;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width:870px) {
        flex-basis: 100%;
    }


    &__h5 {
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }

    &__group {
        display: flex;
        align-items: center;
        margin: 1rem auto;
        max-width: 250px;
        width: 100%;
    }

    &__icon {
        flex-basis: 20%;
    }

    &__text {
        flex-basis: 80%;
        line-height: 1.4;
        font-weight: 500;
        font-size: 1.1rem;
    }

    &__link {
        font-family: $openSans;
        margin-right: 1rem;
        line-height: 1.7rem;
        transition: color .3s linear;

        &:hover {
            color: $white;
        }
    }
}

.social {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;

    &__link {
        transition: transform .2s linear;

        &:hover {
            transform: translateY(-.3rem);
        }
    }
}


/* Footer
===================*/
.footer {
    padding: 2rem 0;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__text {
        font-size: 1.2rem;
        line-height: 1.7;
        font-weight: 500;
        margin: 1rem 0;
    }

    &__copy {
        font-size: 1.1rem;
        line-height: 1.7;
        font-weight: 600;

        @media(max-width:430px) {
            text-align: center;
        }
    }

    &__h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__link {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        transition: color .3s linear;

        &:hover {
            color: $accent;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-family: $openSans;
            transition: color .3s linear;
            font-size: 1.1rem;

            &:hover {
                color: $accent;
            }
        }
    }

    &__icon {
        margin-right: 1rem;
    }

    &__info {
        line-height: 1.7;
        font-weight: 600;
    }

    &__alm {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;

        @media(max-width:990px) {
            justify-content: flex-end;
        }

        @media(max-width:680px) {
            flex-direction: column;
        }

        span {
            margin-right: .7rem;

            @media(max-width:680px) {
                margin-bottom: 1rem;
            }
        }
    }
}

.footer-col:first-child {
    flex-basis: 30%;

    @media(max-width:680px) {
        flex-basis: 70%;
    }

    @media(max-width:430px) {
        flex-basis: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        @media(max-width:430px) {
            text-align: center;
        }
    }
}

.footer-col:nth-child(2) {
    flex-basis: 15%;

    .footer-col__h3 {
        margin-bottom: 2.7rem;
    }

    @media(max-width:680px) {
        flex-basis: 20%;
    }

    @media(max-width:430px) {
        flex-basis: 30%;
    }
}

.footer-col:nth-child(3) {
    flex-basis: 20%;

    @media(max-width:990px) {
        flex-basis: 35%;
    }

    @media(max-width:680px) {
        flex-basis: 60%;
        margin-top: 2rem;
    }
}

.footer-col:last-child {
    @media(max-width:990px) {
        flex-basis: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
    }

    @media(max-width:680px) {
        flex-basis: 35%;
    }

    @media(max-width:430px) {
        flex-basis: 50%;
        margin-left: auto;
    }
}

/* Slider
===================*/
.arrow-left {
    position: absolute;
    top: 1.7rem;
    left: -2rem;
    z-index: 4;
    cursor: pointer;

    @media (max-width: $mobile-sm) {
        left: -4rem;
        top: 3rem;
    }
}

.arrow-right {
    position: absolute;
    top: 1.7rem;
    right: -2rem;
    z-index: 4;
    cursor: pointer;

    @media (max-width: $mobile-sm) {
        right: -4rem;
        top: 3rem;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.slick-dots li {
    margin-right: 1rem;
}

.slick-dots li button {
    font-size: 0;
    background-color: $accent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;

    &:focus {
        outline: none;
    }
}

.slick-active button {
    background-color: $secondary !important;
}